<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.akbolatss.workshop.slidingpanel.sampleapp">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.akbolatss.workshop.slidingpanel.sampleapp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.akbolatss.workshop.slidingpanel.sampleapp.examples.advanced.AdvancedExampleActivity"
            android:theme="@style/AppTheme_Actionbar" />
        <activity android:name="com.akbolatss.workshop.slidingpanel.sampleapp.examples.scrollableview.ScrollableViewExampleActivity" />
        <activity android:name="com.akbolatss.workshop.slidingpanel.sampleapp.examples.fittoscreenview.FitToScreenViewExampleActivity" />
        <activity android:name="com.akbolatss.workshop.slidingpanel.sampleapp.examples.dragview.DragViewExampleActivity" />
        <activity android:name="com.akbolatss.workshop.slidingpanel.sampleapp.examples.basic.BasicExampleVerticalActivity" />
        <activity android:name="com.akbolatss.workshop.slidingpanel.sampleapp.examples.basic.BasicExampleHorizontalActivity" />
        <activity android:name="com.psoffritti.librarysampleapptemplate.core.SampleAppTemplateActivity" />
    </application>

</manifest>
